

body {
    background-color: black;
}

h1, h2 {
  font-family: 'Righteous', cursive;
  color: rgb(148, 60, 50);
}

td {
  background-color: rgb(173, 73, 62);
  padding: 5px;
	border-radius: 8px;
  border: 1px solid black;
  font-size: .8em;
}

th {
	background-color: rgb(110, 106, 106);
	color: rgb(255, 255, 255);
  padding: 2px;
  border-radius: 8px;
  font-size: .8em;

}

label {
  color: rgb(138, 62, 54);
}

legend {
  color: rgb(136, 59, 50);
  font-family: 'Righteous', cursive;
}





body{
  height:500px;
  margin:0;
}



ul ul li {
  color: salmon;
}




